@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Outfit:wght@500;600&family=Overpass:wght@500;700&family=Poppins:wght@500&family=Roboto:wght@500&family=Rubik:wght@400;500;700&family=Source+Sans+Pro:wght@600&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Outfit:wght@500;600&family=Overpass:wght@500;700&family=Poppins:wght@500&family=Roboto:wght@500&family=Rubik:wght@400;500;700&family=Source+Sans+Pro:wght@600&display=swap'); 
:root
{

     --body-bg: hsl(0, 0%, 95%);
     --text-clr:  hsla(0, 0%, 100%, 0.75);
     --orange:hsl(31, 77%, 52%);
     --second-card:hsl(184, 100%, 22%);
     --third-card:hsl(179, 100%, 13%);
     --fw-700:700;
     --fw-400:400;
}



/* Box sizing rules */
*,
*::before,
*::after {
 box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
 margin: 0;
}

/* Remove list styles on ul, ol elements, which suggests default styling will be removed */
ul,
ol {
 list-style: none;
}

/* Set core root defaults */
html,
html:focus-within {
 scroll-behavior: smooth;
}

/* Set core body defaults */
body {
 min-height: 100vh;
 text-rendering: optimizeSpeed;
 line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
 text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
 max-width: 100%;
 display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
 font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
 html,
 html:focus-within {
   scroll-behavior: auto;
 }

 *,
 *::before,
 *::after {
   animation-duration: 0.01ms !important;
   animation-iteration-count: 1 !important;
   transition-duration: 0.01ms !important;
   scroll-behavior: auto !important;
 }
}

body
{
 background-color: var(--body-bg);
 font-family:"Lexend Deca";
 font-weight: var(--fw-400);
 display: flex;
 justify-content: center;
 align-items: center;
}
  
 p
 {
  color: var(--text-clr);
  margin-bottom: 2rem
 }
 h2
 {
  font-family:"Big Shoulders Display";
  font-weight: var(--fw-700);
  color: var(--body-bg);
  margin-bottom: 2rem;
 }
 main
 {
  max-width: 60rem ;

  
  border-radius: 1rem;
 }
.items
{
 display: flex;
 flex-wrap: nowrap;
}

.item
{
 padding: 3rem;

}
.one

{
  border-top-left-radius:1rem ;
  border-bottom-left-radius:1rem;
 background-color: var(--orange);
}

.two
{
 background-color: var(--second-card);

}
.three
{
 background-color: var(--third-card);
 border-top-right-radius:1rem ;
 border-bottom-right-radius:1rem;
}
img
{
 margin-bottom: 2rem;
}

.btn
{
 background-color: var(--body-bg);
 padding: 0.5rem;
 border: 2px solid var(--orange);
 border-radius: 4rem;
 font-size: 0.8rem;
 width: 7rem;
}
.btn:hover
{
  cursor: pointer;
  color: var(--text-clr);
}
.btn.one:hover
{
 background-color: var(--orange);
 color: var(--text-clr);
 border: solid 2px var(--text-clr);
 transition: all 200ms ease;
}
.btn.one
{
 border: 2px solid var(--orange);
 color: var(--orange);
}
.btn.two
{
 border: 2px solid var(--second-card);
 color: var(--second-card);

}
.btn.two:hover
{
 background-color: var(--second-card);
 color: var(--text-clr);
 border: solid 2px var(--text-clr);
 transition: all 200ms ease;
}
.btn.three
{

 color: var(--third-card);
 border: 2px solid var(--third-card);

}

.btn.three:hover
{
 color: var(--text-clr);
 background-color: var(--third-card);
 border: solid 2px var(--text-clr);
 transition: all 200ms ease;
}

@media only screen and (max-width:768px)
{
  .items
  {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    padding: 3rem;
  }
  .item.one
  {
   
   border-bottom-left-radius:0rem;
   border-top-left-radius:1rem ;
   border-top-right-radius:1rem;
  }

  .item.three
  {
   border-top-right-radius:0rem ;
   
   border-bottom-left-radius:1rem ;
   border-bottom-right-radius:1rem;
  }
}
